*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: rgba(128, 128, 128, 0.096);
}
a{
    text-decoration: none;
    color: white;
}
body{
    background-color: rgba(128, 128, 128, 0.123);
}
header{
    background-color: blueviolet;
    padding: 20px 0px;
    color: white;
}
.container{
    width: 80%;
    margin: 0px auto;
}
.sub-box{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.nav-items a{
    color: white;
    margin: 0px 20px;
}
section{
   width: 80%;
    margin: 0px auto;
    padding: 20px 0px;
}
.hero-content{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 10px 0px;
}
/* .hero-left{
     width: 40%;
} */
.hero-left h3{
font-size: 70px;
font-weight: normal;
font-weight: 400;
     margin-bottom: 20px;   /* heading & paragraph gap */
  line-height: 1.2; 
}
.hero-content span{
    color: rgb(102, 9, 189);
}
.hero-left p{
    font-size: 20px;
     margin-bottom: 20px;   /* heading & paragraph gap */
  line-height: 1.2; 
 
}

.btns{
    display: flex;
    justify-content: space-between;
    padding: 10px 0px;
    align-items: center;
    
}
.primary{
    background-color: rgb(243, 173, 23);
    border: none;
    padding: 10px 20px;
    border-radius: 10px;
    color: white;
    font-size: 18px;
    font-weight: bold;
}
.btns a{
color:black;
font-weight: bold;
}
footer{
   width: 80%;
    margin: auto auto;
    padding: 20px 0px;
}
footer h1{
    margin: 0px 0px 40px 0px;
}
.box-container{
    display: flex;
    justify-content: space-around;
}
.box1{
    width: 400px;
    background-color: brown;
    padding: 10px 20px;
    border-radius: 10px;
    line-height: 1.7;
}
.btn-fotter{
    display: flex;
    gap: 20px;
    margin: 10px 0px;
}
.btn-fotter a{
    border:1px solid white;
    border-radius: 10px;
    width: 100px;
    text-align: center;
    
}